body {
    background-color: rgb(40, 16, 63);
    color:rgb(215, 192, 236);
    font-family:Arial, Helvetica, sans-serif;
}
.top {
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    left:3%;
    top:35%;
    color:rgb(133, 60, 143);
    margin:0;
}
.cont1 {
    position:absolute;
    position:fixed;
    top:0%;
    margin:0;
    left:0%;
    width:100%;
    padding:0;
    height:8%;
    background-color: rgb(40, 16, 63);
    box-shadow:0 0 15px rgb(23, 9, 36);
}
.img{
    position:absolute;
    left:4%;
    top:5%;
    display:inline;
}
p {
    font-size:large;
}
.c1p1 {
    position:absolute;
    left:4%;
    top:35%;
    display:inline;
}
.list {
    position:absolute;
    left:4%;
    top:45%;
    display:inline;
    list-style-type: circle;
}
.c1p2 {
    position:absolute;
    left:4%;
    top:65%;
    display:inline;
}
.c1l1 {
    position:absolute;
    left:4%;
    top:79%;
    display:inline;
}
.input1 {
    position:absolute;
    left:18%;
    top:79%;
    display:inline;
}
.cont2 {
    position:absolute;
    background-color:rgb(40, 16, 63);
    width:35%;
    height:95%;
    left:60%;
    top:5%;
    z-index: -2;
    border-radius:3px;
    border-left:2px solid rgb(133, 60, 143);
    border-right:2px solid rgb(133, 60, 143);
    box-shadow:inset 0px 5px 0px 0px rgb(23, 9, 36);
}
.h2 {
    position:absolute;
    top:5%;
    left:30%;
    color:rgb(131, 75, 168);
}
section {
    background-color: rgb(40, 16, 63);
}