body {
    background-color:rgb(148, 143, 143);
    margin:0px;
    padding:0px;
}
.cont1 {
    position:absolute;
    width:25%;
    height:90%;
    top:5%;
    left:37.5%;
    border-radius:15px;
    box-shadow: 7px 7px 15px rgba(102, 101, 101, 0.7),
                -7px -7px 15px rgba(173, 171, 171, 0.7);
}
.h1 {
    position:absolute;
    top:5%;
    left:10%;
    font-family:Arial, Helvetica, sans-serif;
}
.p1 {
    position:absolute;
    top:12%;
    left:10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
}
.l1 {
    position:absolute;
    top:21%;
    left:10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
.i1 {
    position:absolute;
    top:25%;
    left:10%;
    width:80%;
    height:50px;
    border:none;
    border-radius:10px;
    background-color:rgb(161, 156, 156);
    box-shadow:inset 3px 3px 10px rgba(82, 80, 80, 0.7),
               inset -3px -3px 10px rgba(212, 210, 210, 0.7);
    text-align:center;
}
.l2 {
    position:absolute;
    top:35%;
    left:10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
.i2 {
    position:absolute;
    top:39%;
    left:10%;
    width:80%;
    height:50px;
    border:none;
    border-radius:10px;
    background-color:rgb(161, 156, 156);
    box-shadow:inset 3px 3px 10px rgba(82, 80, 80, 0.7),
               inset -3px -3px 10px rgba(212, 210, 210, 0.7);
    text-align:center;
}
input:focus {
    outline:none;
}
.i3 {
    position:absolute;
    top:52%;
    left:10%;
    border:none;
}
.p2 {
    position:absolute;
    top:49.5%;
    left:17%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
.b1 {
    position:absolute;
    top:59%;
    left:10%;
    width:80%;
    height:50px;
    background-color:rgb(161, 156, 156);
    border:none;
    border-radius:10px;
    box-shadow: 3px 3px 10px rgba(102, 101, 101, 0.7),
                -3px -3px 10px rgba(173, 171, 171, 0.7);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    font-size:medium;
    transition: box-shadow 0.3s ease;
}
button:hover {
    background-color:rgba(82, 80, 80, 0.7);
    color:rgb(174, 177, 179);
}
.p3 {
    position:absolute;
    top:68%;
    left:46%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    font-weight:650px;
}
img {
    position:absolute;
    top:78%;
    left:40%;
    width:20%;
    height:10%;
    border-radius:10px;
}
.p4 {
    position:absolute;
    bottom:2%;
    left:24%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight:650px;
}