body {
    background-size:cover;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL3NuLdm0RbwYiJ-pm6VWICL374IWkxjrEcw&usqp=CAU');
    background-position-x:right;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.cont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* Set a specific width for the container */
    min-height: 60%;
    max-width: 400px;
    min-width: 300px;
    max-height: 65%;
    border-radius: 10px;
    background-color: rgba(48, 46, 46, 0.3);
    backdrop-filter: blur;
    box-shadow: 0px 10px 15px 7px rgba(44, 42, 42, 0.2);
}

.h1 {
    position:absolute;
    top:2%;
    left:35%;
    font-family:consolas;
    color:rgb(0, 0, 0);
}
.l1 {
    position:absolute;
    left:8%;
    top:30%;
    font-family:consolas;
    font-size:small;
    color:rgb(0, 0, 0);
    font-weight:500px;
}
.i1 {
    position:absolute;
    top:25%;
    left:23%;
    width:65%;
    height:30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top:none;
    border-left:none;
    border-right:none;
    background-color:rgba(100, 98, 98, 0.0);
    vertical-align: baseline;
    text-align:center;
}
.i1:focus {
    outline:none;
}
.l2 {
    position:absolute;
    left:8%;
    top:45%;
    font-family:consolas;
    font-size:small;
    color:rgb(0, 0, 0);
    font-weight:500px;
}
.i2 {
    position:absolute;
    top:40%;
    left:28%;
    width:60%;
    height:30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top:none;
    border-left:none;
    border-right:none;
    background-color:rgba(100, 98, 98, 0.0);
    text-align:center;
}
.i2:focus {
    outline:none;
}
.l3 {
    position:absolute;
    top:53%;
    left:13%;
    font-family:consolas;
    font-size:small;
    color:rgb(0, 0, 0);
}
.i3 {
    position:absolute;
    top:52%;
    left:7%;
}
.p1 {
    position:absolute;
    display:inline;
    top:53%;
    left:55%;
    font-family:consolas;
    font-size:small;
    color:rgb(0, 0, 0);
}
.b {
    position:absolute;
    top:62%;
    left:10%;
    border:none;
    width:80%;
    height:40px;
    border-radius:50px;
    background-color:rgba(26, 24, 24, 0.2);
    font-family:consolas;
    font-size:x-large;
    font-weight:500px;
    color:rgb(0, 0, 0);
}
.b:hover {
    background-color: rgba(26, 24, 24, 0.1);
}
.p2 {
    position:absolute;
    top:72%;
    left:19%;
    font-family:consolas;
    font-size:small;
    color:rgb(0, 0, 0);
}